*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Serif', serif;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F7F5F2;
}

/* Heading */

header {
    padding: 2.1em;
    color: white;
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
}

.heading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
}
.heading1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
}


.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 30px;
    font-family: 'Verdana', sans-serif;
    color: #141850;
    margin-bottom: 10px;
}


.container{
    width: 100%;
    max-width: 1120px;
    min-height: 374px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}

section.input_con{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 10px;
}

.wrap_con{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}

.wrap{
    display: flex;
    flex-direction: column;
}

.title_heading{
    font-weight: bold;
    font-size: 18px;
}


/* file input */

input{
    font-size: 20px;
    padding: 10px;
    padding-left: 0px;
}

/* End */

/* button */
button{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}


button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}

/* End */

/* disclaimer */

.disclaimer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    color: white;
}

#error{
    color: red;
    align-self: center;
}

.table{
    width: 90%;
    vertical-align: middle;
    border-collapse: collapse;
    border-spacing: 1px;;
    /*line-height: 1;*/
    text-align: left;
    border-color: black;
}


.table td, .table th {
    /*padding: 0.5rem;*/
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
}

.img{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
